.contactItem {
  display: flex;
  align-items: center;
  padding: 12px 0 12px 20px;
  cursor: pointer;
  font-size: 14px;
}

.contactItem:hover {
  background-color: var(--N100);
}

.contactItem img {
  width: 32px;
  height: 32px;
  margin-right: 8px;
  border-radius: 2px;
}
