.searchList {
  margin-bottom: 20px;
  height: 100%;
  overflow: auto;
  /* flex: 1; */
}

.title {
  font-size: 14px;
  color: var(--N300);
  margin-left: 20px;
}

.total {
  font-size: 12px;
  color: var(--B100);
  cursor: pointer;
  margin-left: 20px;
}

.total:hover {
  color: var(--B200);
}
