:root {
  --white: #fff; 
  --G100: rgb(42, 184, 92);
  --G200: rgb(34, 162, 79);
  --G300: rgb(33, 154, 75);
  --N100: #d6d4d4;
  --N200: #ddd;
  --N300: #999;
  --N400: #c2c2c2;
  --N500: #f5f5f5;
  --N400: #000;
  --B100: #236ef4;
  --B200: #0f4cb7;


  --border-color: var(--N200);
  --primary-text-color: var(--N400);
  --text-color: var(--N300);
}
